{% extends "comunes/base.html" %}

{% block title %}BioTown Blog{% endblock %}

{% block content %}

<div class="col s12 center">
    <h3><strong>BLOG DE BIOTOWN</strong></h3>
</div>

{% if total_noticias %}
    <div class="col s12 right-align">
        <p>Mostrando un total de:<strong> {{ total_noticias }}
        {% if total_noticias == 1 %}
            noticia</strong></p>
        {% else %}
            noticias</strong></p>
        {% endif %}
    </div>
{% endif %}

{% if not noticiasBlog %}
    <div class="col s12">
        <h6 class="center-align">Actualmente no hay ninguna noticia en el blog</h6><br>
    </div>
{% else %}
    {% for noticia in noticiasBlog %}

        <div class="card-panel hoverable grey lighten-5 z-depth-1">
            <div class="row">

                <div class="col s2">
                    {% if noticia.foto %}
                        <img class="circle responsive-img center" src="{{ noticia.foto.url }}"
                            style="width: 100px; height: 100px; background-repeat: no-repeat; background-size: cover;">
                    {% else %}
                        <img class="circle responsive-img center" src="static/img/imagen-no-disponible.png"
                            style="width: 100px; height: 100px; background-repeat: no-repeat; background-size: cover;">
                    {% endif %}
                </div>

                <div class="col s10">
                    <div class="row">
                        <div class="right"><strong>Publicada:</strong> {{ noticia.fechaHora }}</div>
                    </div>
                    <div class="row">
                        <div class="left"><a href="{% url 'verNoticia' noticia.id %}">{{ noticia.titulo }}</a></div>
                    </div>
                    <div class="row">
                        <p class="truncate" style="text-align: left;">{{ noticia.articulo }}</p>
                    </div>
                </div>

            </div><!--row-->
        </div><!--card-->

    {% endfor %}
{% endif %}

<!--Paginación de las noticias del blog-->
{% if noticiasBlog.has_other_pages %}
    <ul class="pagination center">
        {% if noticiasBlog.has_previous %}
            <li class="waves-effect"><a href="?page={{ noticiasBlog.previous_page_number }}">
                <i class="material-icons">chevron_left</i></a>
            </li>
        {% endif %}

        {% for i in noticiasBlog.paginator.page_range %}
            {% if noticiasBlog.number == i %}
                <li class="active waves-effect"><a href="{{ i }}"><span>{{ i }}</span></a></li>
            {% else %}
                <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if noticiasBlog.has_next %}
            <li class="waves-effect"><a href="?page={{ noticiasBlog.next_page_number }}">
                <i class="material-icons">chevron_right</i></a>
            </li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}