{% extends "comunes/base.html" %}

{% block title %}PdP{% endblock %}

{% block content %}

<div>
    <h3 style="text-align: center;"><strong>POLÍTICAS DE PRIVACIDAD Y PROTECCIÓN DE DATOS</strong></h3><br>
    <div class="card">
    <h5 style="text-align: center;"><strong><br>INFORMACIÓN GENERAL</strong></h5></p>
    <p style="text-align: left; padding: 10px; text-align: justify;">
    <strong>BioTown</strong> cumple estrictamente con las directrices de la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal, y con el Real 
    Decreto 1720/2007 de 21 de diciembre por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica y demás normativa vigente en cada momento, y vela por garantizar 
    un correcto uso y tratamiento de los datos personales del usuario. Para ello, junto a cada formulario de recogida de datos de carácter personal, BioTown hará saber al 
    usuario de la existencia y aceptación de las condiciones particulares del tratamiento de sus datos en cada caso, informándole de la responsabilidad del fichero creado, la 
    dirección del responsable, la posibilidad de ejercer sus derechos de acceso, rectificación, cancelación u oposición, la finalidad del tratamiento y las comunicaciones de 
    datos a terceros en su caso.:
    <br>
    <br>

    Le informamos en este punto que en el proceso de compra de cualquiera de nuestros productos, sus datos personales serán incorporados a los ficheros de BioTown que se 
    encuentran debidamente inscritos en el Registro General de la Agencia Española de Protección de Datos y que tienen como finalidad la gestión de los servicios relacionados 
    con la manipulación, envasado y distribución de productos hortofrutícolas ecológicos contratados, así como posibles comunicaciones comerciales sobre productos.
    <br>
    <br>

    Los datos de carácter personal, serán tratados con el grado de protección adecuado, tomándose las medidas de seguridad legalmente necesarias para evitar su pérdida, 
    deterioro y suministro y acceso a terceros no autorizados. Ello no obstante, el Usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.
    <br>
    <br>

    Así mismo le informamos que podrá ejercer los derechos (ARCO) de acceso, rectificación, cancelación y oposición de los datos personales a los ficheros de BioTown según lo 
    dispuesto en la Ley Orgánica de Protección de Datos de Carácter Personal (L.O. 15/1999) y el RD. 1720/2007, dirigiendo una solicitud por escrito, junto con una copia del 
    DNI a la siguiente dirección de correo electrónico: <strong>biotownsoporte@biotown.org</strong>
    </p>

    <p style="text-align: left; padding: 10px; text-align: justify;">
    <strong>Datos facilitados por terceros.<br></strong>
    En caso de que en la solicitud se incluyeran datos de carácter personal, por personas no titulares de los mismos, el usuario deberá, con carácter previo a su inclusión, 
    informar a dichas personas de los extremos contenidos en los párrafos anteriores. BioTown se exime de cualquier responsabilidad por el incumplimiento de éste requisito.

    <p style="text-align: left; padding: 10px; text-align: justify;">
    <strong>Datos de menores.<br></strong>
    No está autorizado facilitar datos de personas menores de catorce años de edad a través de este sitio web. BioTown se exime de cualquier responsabilidad por el 
    incumplimiento de este requisito.

    <p style="text-align: left; padding: 10px; text-align: justify;">
    <strong>Comunicaciones comerciales por medios electrónicos.<br></strong>
    Las comunicaciones que se realicen por correo electrónico o por cualquier otro medio electrónico, serán las necesarias para gestionar su solicitud. No obstante, serán 
    aquellas que hayan sido consentidas o autorizadas expresamente por los destinatarios de conformidad con la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la 
    Información y de Comercio Electrónico, salvo lo dispuesto por el artículo 21.2 de esta misma Ley, en la redacción dada por la Disposición Final Primera de la nueva Ley 
    General de Telecomunicaciones.

    </div>
</div>

{% endblock %}