{% extends "comunes/base.html" %}

{% block title %}TyC{% endblock %}

{% block content %}

<div>
  <h2 style="text-align: center;">
    <strong>TÉRMINOS Y CONDICIONES</strong>
  </h2>
  <br>

  <p style="text-align: left; text-align: justify;">
  <strong>BIOTOWN<br></strong>
  <strong>BioTown</strong> permitirá a productores locales la venta directa de sus productos ecológicos o productos de kilómetro 0 a los clientes que así lo demanden, asegurando, un número 
  reducido de intermediarios, o directamente sin ellos. Esto reducirá notablemente el coste del producto final y la calidad del mismo, así como también los distintos problemas 
  que puedan surgir durante su venta.
  La finalidad de esta plataforma no es otra que facilitar el encuentro entre productor y consumidor asegurando una mayor cercanía, frescura y confianza mutua de las partes 
  durante la negociación, mejorando en gran medida la calidad de la venta.
  </p>
  <br>


  <p style="text-align: left; text-align: justify;">
  <strong>UNIRSE A LA PLATAFORMA<br></strong>
  ¡Unirse a la plataforma es muy fácil!. En BioTown, pueden inscribirse tanto <strong>productores</strong> como <strong>consumidores</strong>:
  <br>
  Para inscribirse como <strong>productor</strong> o <strong>consumidor</strong>, habrá que rellenar una serie de datos personales, idénticos a los que vemos en cualquier otro 
  formulario. Una vez inscritos, los productores podrán registrar sus productos de una manera rápida y sencilla, construyendo así, un catálogo propio con los productos que 
  tiene en venta y que estarán a disposición de cualquier consumidor que los solicite. 
  </p>
  <br>

  <p style="text-align: left; text-align: justify;">
  <strong>CÓMO COMPRAR<br></strong>
  Comprar en nuestro supermercado online es muy sencillo: sólo tienes que elegir un artículo de nuestros productos e incorporarlo a la cesta pulsando en "Comprar", 
  posteriormente, hay que acceder al carrito de compra y tramitar el pedido, empleando el medio de pago indicado.
  <br>
  En cualquier momento, podrá acceder a su perfil privado donde podrá acceder al historial de los pedidos que realizó desde la web.
  </p>
  <br>

  <p style="text-align: left; text-align: justify;">
  <strong>ENTREGA EN EL DOMICILIO<br></strong>
  La entrega a domicilio de los productos adquiridos corre a cuenta de los productores inscritos en la plataforma. Son ellos los que se harán cargo de todo lo relacionado con 
  la entrega del pedido al cliente. El precio de este servicio de envío deberá estar incluido en el precio final de cada uno de sus productos.
  Los que no tengan un envío a domicilio, podrán registrar en la web una dirección con la ubicación de la venta directa de dicho producto, para lo cual, el propio consumidor 
  será el encargado de la recogida de su compra.
  </p>
  <br>

  <p style="text-align: left; text-align: justify;">
  <strong>DEVOLUCIÓN DE UN PRODUCTO<br></strong>
  Los artículos ofrecidos en nuestro supermercado online están avalados por productores locales de la máxima confianza y garantía. Ofrecer la máxima calidad y la mejor garantía 
  es el principal compromiso con nuestros clientes.
  <br>
  Si un usuario quisiera devolver un producto, tendría que ponerse en contacto con el productor en cuestión. La plataforma tiene habilitado un sistema de mensajería para ello.
  </p>
  <br>

</div>

{% endblock %}